.model-manager-page {
  padding: 20px;

  .search-card {
    margin-bottom: 16px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}
